@using OrderFood_SW.ViewModels
@model List<OrderCartItem>
@{
    int currentTableId = ViewBag.TableId ?? 0;
}

<div class="order-panel" id="orderPanel">
    <div class="order-panel-handle" id="orderPanelHandle"></div>

    <div class="table-info">
        <div>
            <div class="table-number">@ViewBag.TableId</div>
            <div style="font-size: 12px; color: #64748b;">Round Table</div>
        </div>
        <button class="action-btn">
            <i class="fas fa-edit"></i>
        </button>
    </div>

    <div class="order-items">
        @if (Model.Count == 0)
        {
            <div>
                <H3 class="#">Your cart is empty</H3>
                <br />
                <p> add something to see more detail</p>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="order-item">
                    <img src="~/images/@item.ImageUrl" alt="Burger" class="order-item-image">
                    <div class="order-item-info">
                        <div class="order-item-name">@item.DishName <button style="width:21px; height: 22px" onclick="removeFromCart(@item.DishId)"><i class="fa fa-minus"></i></button></div>
                        <div class="order-item-price">@item.Price <i class="fa fa-arrow-right"></i> @item.Total</div>
                        <div class="order-item-qty">amount: @item.Quantity</div>
                    </div>
                </div>
            }

            <div class="order-total">
                <div class="total-row total-amount">
                    <span>Total Amount</span>
                    <span></span>
                </div>
            </div>

            <button class="place-order-btn">Place Order</button>
        }

    </div>
</div>


<script>
    function removeFromCart(dishId) {
        fetch('/Order/RemoveFromCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: 'id=' + dishId
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                //alert('Đã xóa khỏi giỏ hàng');
                location.reload();
            }
        });
    }
    function removeAllCart() {
        if (confirm("Are you sure want to delete all dish?")) {
            fetch('/Order/RemoveAllCart', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    //alert("Đã xoá toàn bộ giỏ hàng");
                    location.reload();
                }
            });
        }
    }
</script>