@model OrderFood_SW.ViewModels.OrderPageModel

@{
    ViewData["Title"] = "OrderList";
}

<!-- Search Box -->
<div class="box box-primary">
    <div class="box-body">

        <br

        <!-- Search Result -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Table ID</th>
                        <th>Order Time</th>
                        <th>Order Status</th>
                        <th>Total Amount</th>
                        <th>Note</th>
                        <th style="width: 100px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FoundOrders)
                    {
                        <tr>
                            <td>@item.TableId</td>
                            <td>@item.OrderTime.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@item.OrderStatus</td>
                            <td>
                                @if (item.OrderStatus == 1 || item.OrderStatus == -1)
                                {
                                    <p>Pending ...</p>
                                }
                                else
                                {
                                    @item.TotalAmount.ToString("N0")
                                }
                            </td>
                            <td>@item.note</td>
                            <td>
                                <a href="~/Order/Detail/@item.OrderId">Show Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>