@model OrderFood_SW.Models.Dish
@{
    ViewData["Title"] = "Details";
}


<!-- Show table info -->
<div class="box box-primary" style="min-height:74vh;">
    <div class="box-body">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                <div class="panel panel-default" style="margin: 100px 0px">
                    <div class="panel-heading" style="text-align: center">
                        <strong>Detail Dish Information | Need Update ?</strong>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.DishId)</dt>
                            <dd>@Html.DisplayFor(model => model.DishId)</dd>

                            <dt>@Html.DisplayNameFor(model => model.DishName)</dt>
                            <dd>@Html.DisplayFor(model => model.DishName)</dd>

                            <dt>@Html.DisplayNameFor(model => model.DishDescription)</dt>
                            <dd>@Html.DisplayFor(model => model.DishDescription)</dd>

                            <dt>@Html.DisplayNameFor(model => model.DishPrice)</dt>
                            <dd>@Html.DisplayFor(model => model.DishPrice)</dd>

                            <dt>@Html.DisplayNameFor(model => model.ImageUrl)</dt>
                            <dd>@Html.DisplayFor(model => model.ImageUrl)</dd>

                            <dt>@Html.DisplayNameFor(model => model.CategoryId)</dt>
                            <dd>@Html.DisplayFor(model => model.CategoryId)</dd>

                            <dt>@Html.DisplayNameFor(model => model.IsAvailable)</dt>
                            <dd>@Html.DisplayFor(model => model.IsAvailable)</dd>
                        </dl>
                    </div>

                    <div class="panel-footer text-right">
                        <a href="~/Dishes/Edit/@Model.DishId" class="btn btn-success">Goto Edit</a>
                        <a asp-action="Index" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
